section{
    border: 0;
    padding: 0;
}


.box-personalidades{
    display: flex;
    position: relative;
    margin-bottom: 3rem;
    max-width: 80%;
   

}


.titulo-perso{
    position: relative;
    padding: 7.5rem 13.5rem;
    background-color: #2F2F2F;
}

.titulo-perso::before{
    content: "";
    background-image: url("../../assets/linhaDeco.svg");
    background-size: contain;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
}




.titulo-perso h2{
    color: #FFF;
    font-family: Libre Baskerville;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
   
}

.carroussel{
    cursor: grab;
    overflow: hidden;
    
}

.innerCarroussel{
    display: flex;
}

.item{
    min-height: 200px;
    min-width: 400px;
    padding: 14px;
    
}



