button{
    border: 2px solid;
}
.titulo-movimento{
    position: relative;   
    font-family: 'Libre Baskerville', serif;
    padding: 0rem 1.3rem; 
}

#blocos{
    transition: 0.3s;

}


.titulo-movimento::before{
    content: "";
    width: 5px;
    height: 80%;
    background-color: #FFD390;
    border-radius: 0.5rem;
    left: 5px;
    position: absolute;
}

.img-movimento{
    object-fit: cover;
    width: 80%;
    
}

.inner-imgs{
    position: relative;

}
.data{
    font-size: 1.3rem;
}

.inner-imgs::before{
    position: absolute;
    content: "";
    top: 20px;
    left: 20px;
    border-radius: 10px;
    border: 3px solid #6F4300;
    z-index: -1;
    width: 82%  ;
    height: 100% ;
    box-sizing: border-box;
    
}



.descricao-movi{
   border-left: solid 5px #FFD390 ;
    margin-top: 1rem;
    background-color: #FFF3E1;
    border-radius: 0.5rem; 
    max-width: 100% !important;
    max-height: 80% !important;
    min-width: 20% !important;
    min-height: 50% !important;
    overflow-y:scroll;
    cursor: grab;

}

.decorador-descri::before{
  content: "";
  position: absolute;
  left: -3px;
  top: 20%;
  width: 88%;
  height: 88%;
  background-color: #FFD390;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(120, 120, 120);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border-radius: 3px solid rgb(65, 65, 65);  /* creates padding around scroll thumb */
  }



.descricao-movi::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  .descricao-movi::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);        /* color of the tracking area */
  }
  
  .descricao-movi::-webkit-scrollbar-thumb {
    background-color: #FFD390;    /* color of the scroll thumb */
    /* border-radius: 20px;       roundness of the scroll thumb */
    border-radius: 3px solid rgb(65, 65, 65);  /* creates padding around scroll thumb */
  }
.decorador-descricao{
    background-color: #FFD390;
}